.row{
    /* border: 1px solid black; */
}
body{
background-color:#FFFFFF;
font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    *border-top: 2px solid #00afdd;
    border-bottom: 2px solid #00afdd;    
    background-image: url(../images/header2.jpeg);
    background-size: cover;
}
a{
    color: black;
}
.section-about{
    background-color: aqua;
}
.about{
 text-align: center; 
 padding-top: 15px;
 width: 70%;
 margin: auto;
}
.about hr{
    width: 10%;
}

/* -- INTRO */
.container-intro{
    padding-top: 20px;
}

.container-intro img{
/* position: absolute; */
}

/* -- AGUA*/
.section-agua{
    height: 100vh;
    width: 100%;
}
.container-agua{
    height: 100vh;
    width: 100%;
}
.container-agua img{
    height: 100vh;
    width: 100%;
    background-size: cover;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

/* -- OFRECEMOS */
.ofrecemos{
    padding-top: 25px;
}

/* -- */
.section-nadando{
    height: 100vh;
    width: 100%;
}
.container-nadando{
    height: 100vh;
    width: 100%;
}
.container-nadando img{
    height: 100vh;
    width: 100%;
    background-size: cover;
    -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 72%);
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 72%);
}

#parte1{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    border-radius: 16% 82% 77% 21% / 10% 34% 34% 21% ;
    opacity: 0.4;
    /* border-radius:  9% 79% 77% 24% / 29% 51% 49% 34%; */
}

#parte2{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    opacity: 0.4;
    /* border-radius: 78% 10% 10% 80% / 44% 42% 41% 37%  ; */
    
    border-radius: 86% 14% 44% 56% / 54% 16% 84% 46% ;
    opacity: 0.7;
    /* border-radius:  9% 79% 77% 24% / 29% 51% 49% 34%; */
}